.footer-container {
    bottom: 0px;
    position: absolute;
    background-color: #eeeeee;
    width: 100%;
    color: #757575;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}

p {
    font-weight: 500;
}

.profile-1 {
    text-decoration: none;
    margin-left: 5px;
    color: #757575;
}